In [7]:
import inout
import pandas as pd
from app import SAVED_MODEL
from model import AirQualityClassifier

classifier = AirQualityClassifier(inout.load_model_from_pickle(SAVED_MODEL))
df = pd.read_csv('../data/train.csv', sep=';')
df.head()

   feature1  feature2  feature3  feature4  ...  feature6  feature7  feature8  target
0 -0.458258 -0.579012  2.886009 -0.075516  ... -2.431912  0.534850 -0.846473       2
1  1.626615 -0.028332 -1.443184 -1.007447  ...  1.202627 -0.038211 -1.298616       0
2  1.721356 -0.137676 -1.322593 -1.333187  ...  0.843285 -0.588495  0.066682       0
3 -0.715103  3.265915 -0.791030 -2.967881  ... -0.277387 -0.551611  0.668354       2
4  2.944098  0.197871 -2.257025  1.032789  ...  4.716115 -0.380813 -1.393825       0

[5 rows x 9 columns]

In [8]:

data = df.drop('target', axis=1)
target = df['target']

In [9]:
classifier.model.best_estimator_.score(data, target)

0.9757142857142858